/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0%;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	font-family: 'Titillium Web', sans-serif;
	margin: 4%;
	max-width: 100%;
}
.navigation{
	width: 100%;
	margin: 0 auto;
}
nav{
	text-align: left;
	margin-top: 4%;
}

nav > a {
	color: grey;
}

.navbar{
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	width: 75%;
	text-decoration: none;
	padding-bottom: 3%;
}
.great{
	display: flex;
	width: 25%;
}

header {
	display: flex;
	align-items: center;
}
.navbar a:link {
	text-decoration: none;
}
#innov{
	display: inline-block;
	width: 49%;
	padding: 5% 15%;
	text-align: center;
	margin-bottom: 70px;
	vertical-align: bottom;
}
#code-img{
	display: inline-block;
	width: 49%;
	text-align:center;
	margin-top: 50px;
	vertical-align: bottom;
	margin-bottom: 50px;
}
#title{
	font-size: 60px;
}
button{
	width: 90%;
	padding: 5px;
	font-size: 14px;
	border: 1px solid grey;
	background: white;
}
.body-top-inner{
	width: 49.5%;
	display: inline-block;
}
.body-bot-inner{
	width: 33%;
	display:inline-block;
	padding: 0 1px 0;
}
.body-top{
	border-top: 1px solid black;
	padding-top: 3%;
	padding-bottom: 3%;
}
.body-img {
	width: 100%;
}
.body-bot{
	border-bottom: 1px solid black;
	padding-top: 3%;
	padding-bottom: 3%;
}
footer{
	padding-top: 5%;
	margin-bottom: 4%;
}
.copyright{
	text-align: center;
	font-family: 'Solway', serif;
}

/* 800 pixel tablet view */
@media (max-width: 800px) {
	header {
	display: flex;
	flex-direction: column-reverse;	
	margin-top: 8%;
	}

	.navbar {
		width: 100%;
	}

	#code-img {
		display: none;
	}

	#innov {
		display: block;
		margin: 0 auto;
		padding: 9%;
		padding-top: 5%;
	}

	button {
		width: 80%;
		margin-top: 3%;
		font-size: 17px;
	}
	.body-top{
		display: flex;
		justify-content: space-between;
		padding-top: 5%;
	}
	.body-bot{
		display: flex;
		justify-content: space-between;
	}
	.body-top-inner {
		width: 49%;
	}
	.body-bot-inner{
		width: 29%;
	}
}
/* 500 pixel view */
@media (max-width: 500px){
	
	header{
		margin: 0 -4%;
	}
	.great{
		width: 40%;
	}
	.navbar{
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 20px;
	}
	nav > a {
		padding: 3%;
		border-bottom: 1px solid grey;
		margin-left: 0;
	}
	#services{
		border-top: 1px solid grey;
	}

	#innov {
		padding: 6% 0 15% 0;
	}
	.body-top{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-top: 2px solid black;
	}
	.body-top-inner{
		width: 100%;
		margin-bottom: 2%;
		padding: 4% 0 4% 0;
	}

	.body-bot{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-bottom: 2px solid black;
	}
	.body-bot-inner{
		width: 100%;
		margin-bottom: 2%;
		padding: 4% 0 4% 0;
	}
	button{
		border: 1px solid black;
	}
}